
.bar {
    background-color: #ff7700;
    border-radius: 5px;
    margin: 6.5px;
    background-color: rgba(50, 50, 50, 0.2);
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, .8);
    padding: 3px;
}

.cpu-i,
.bat-i,
.mem-i,
.net-i,
.kb-i,
.clk-i,
.date-i,
.gpu-i,
.audio-i {
    padding: 0.3rem;
    border-radius: 10px 0 0 10px;
    font-size: 1.2em;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: 'GohuFont uni14 Nerd Font';
}


.cpu-usage,
.bat-t,
.mem-usage,
.net-t,
.kb-t,
.clk-t,
.date-t,
.gpu-t,
.audio-t {
    background-color: rgba(20, 20, 20, 1);
    border-radius: 0 10px 10px 0;
    padding: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
}



.logo,
.workspace-container,
.message,
.cava {
    background-color: rgba(20, 20, 20, 1);
    border-radius: 10px;
    padding: 0 5px;
    font-size: 1.3em;
}
.workspace-active, .workspace {
  padding-bottom: 0.2rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  border-radius: 0.5rem;
    padding-top: 0.2rem;
}


.cava {
    padding: 5px;
}


@import "./barcolor";
