@import "/home/lilo/.cache/wal/colors.scss";
.cpu-i,
.kb-i,
.workspace-active,
.mem-i,
.net-i,
.clk-i,
.date-i,
.gpu-i,
.audio-i {
    background-color: $color1;
}


.message {
  font-family: Star Jedi;
  color: yellow;
}
