
.Menu {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.powerMenu {
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 20px;
}


.option {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin:20px;
}

.power-i, .power-t {
  font-size: 5rem;
}
