* { all: unset}

@import "./main";


.Title {
    font-family: Star Jedi Hollow;
}
.Message {
    font-size: 2em;
    font-family: Satisfontory;
}
.Subtitle {
    font-family: Death Star;
    margin: 0 0 0 20px
}
